<%- include("../../partials/header") %>
    <div class="container">
        <div class="card mt-5" >
            <div class="card-body">
                <div class="card-title">
                    <h2>Cadastro de atividades</h2>
                </div>
                <form action="/admin/activity/register" method="post">
                    
                    <h3 class="mt-5 mb-2">Atividade config</h3>
                    
                    <label class="form-label mt-3">Titulo</label>
                    <input type="text" class="form-control mb-3" name="title">
                    <label class="form-label">Descrição</label>
                    <textarea name="description" class="form-control mb-3" cols="30" rows="10"></textarea>
                    
                    <label class="form-label">Data de envio</label>
                    <input type="date" class="form-control mb-3" name="sending">
                    <label class="form-label">Data de entrega</label>
                    <input type="date" class="form-control" name="deliver">
                    
                    
                    <label class="form-label mt-3">Bimestre</label>
                    <select class="form-select mb-4" name="bimester">
                        <option value="1">Bimester</option>
                        <option value="2">Bimester</option>
                        <option value="3">Bimester</option>
                    </select>
                    
                    <h3 class="mt-5 mb-5">Usuarios config</h3>
                    
                    <label class="form-label">Enviador</label>
                    <select class="form-select mb-4" name="sender">
                        <option value="1">Importante</option>
                        <option value="2">Normal</option>
                        <option value="3">Eletiva</option>
                    </select>
                    <label class="form-label">Produtor</label>
                    <select class="form-select mb-4" name="producer">
                        <option value="1">Importante</option>
                        <option value="2">Normal</option>
                        <option value="3">Eletiva</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
                
            </div>
        </div>
        
    </div>
    
<%- include("../../partials/footer") %>
